/******************************************************************
Site: SIS Modules

Stylesheet: Base Stylesheet

This stylesheet only holds mobile and global styles.
******************************************************************/

/*********************
GENERAL GLOBAL STYLES 
*********************/

/* Modal Windows */

.modalContainer {
	display: none;
	position: absolute;
	padding: 5px;
	background: rgba(255, 255, 255, .15);
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: .5em;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, .35), 0 0 15px rgba(0, 0, 0, 0.2);
	z-index: 2;

	&.active {
		display: block;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		border-top: 25px solid rgba(255, 255, 255, 0.4);
		border-right: 25px solid rgba(255, 255, 255, 0.4);
		border-bottom: 25px solid transparent;
		border-left: 25px solid transparent;
		border-radius: .3em;
		transform: rotate(-45deg);
		top: -22px;
		left: 50%;
		margin-left: -25px;
		box-shadow: inset 0 0 3px rgba(255,255,255,0.35),5px -5px 5px rgba(0,0,0,0.05), 2px -2px 0 white;
		z-index: -2;
	}

	.modal {
		background: white;
		border: 1px solid $lightGrey;
		border-radius: .45em;
		z-index: -1;

		&:after {
			content: "";
			display: block;
			position: absolute;
		    border-top: 22px solid white;
    		border-right: 22px solid white;
    		border-bottom: 22px solid transparent;
    		border-left: 22px solid transparent;
			border-radius: .25em;
			transform: rotate(-45deg);
			top: -15px;
			left: 50%;
			margin-left: -21px;
			box-shadow: 1px -1px 0 $lightGrey;
			z-index: 1;
		}

		.modalNav {
			list-style: none;
			margin: 1em;
			padding: 0;

			li {
				text-align: center;
				margin-bottom: .5em;
				padding: 1em .5em;
				background-color: $offWhite;
				border: 1px solid $lightGrey;
				border-radius: 3px;
				box-shadow: inset 0 25px 15px -10px rgba(255,255,255,.5), inset 0 -8px 10px -9px rgba(0, 0, 0, 0.1);

				span {
					color: $hardBlue;
					font-size: 2.5em;
					display: block;
					margin-bottom: .125em;
				}

				&:hover {
					cursor: pointer;
					color: white;
					text-shadow: 0 1px 1px darken($darkGrey, 15);
					background-color: $darkGrey;
					border: 1px solid darken($darkGrey, 15);
					box-shadow: inset 0 25px 15px -10px rgba(0,0,0,.1), inset 0 -8px 10px -9px rgba(255, 255, 255, .5);
					transition: background-color .2s ease-out;

					span {
						color: $hardYellow;
					}
				}
			}
		}

		.modalPanel {
			display: none;
		}
	}
}

/*********************
Gradebook Module 
*********************/

#gradebook {

	.grades {

		.value {
			position: relative;
			z-index: 1;
		}

		.cumulative {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;

			polygon {
				fill: transparentize($softBlue, .9);
			}

			polyline {
				stroke: transparentize($softBlue, .75);
				stroke-width: 4px;
			}
		}
	}

	.assignmentSettings {
		width: 400px;

		h3 {
			margin-left: 1em;
			margin-right: 1em;
		}

		form {
			margin-left: 1em;
			margin-right: 1em;
			padding: 1em 0;
			border-top: 1px solid $lightGrey;
			border-bottom: 1px solid $lightGrey
		}

		button {
			display: block;
			float: left;
			width: 50%;
		}

	}
}