/******************************************************************
Site: SIS Modules

Stylesheet: Base Stylesheet

This stylesheet only holds mobile and global styles.
******************************************************************/

/*********************
GENERAL GLOBAL STYLES 
*********************/

/* Typography */

html {
	color: $darkGrey;
	background: $offWhite;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 100;
	font-size: 3em;
    margin: 0.5em 0;
}

/* Tables */
table {
	width: 100%;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);

	thead {
		border-bottom: 3px solid $softBlue;

		th {
			background: $lightBlue;
			padding: .625em;
			padding-right: 1.5em;
			border: 1px solid $lightGrey;

			.settingsPanel {
				padding-top: .5em;
			    margin-top: .5em;
			    border-top: 1px solid #ccc;
			    color: $lightGrey;

			    &:hover {
			    	color: $darkGrey;
			    }
			}
		}
	}

	tbody {

		tr:nth-child(odd) td {
			background: rgb(248, 248, 248);
		}

		td {
			position: relative;
			background: white;
			font-size: 1.25em;
			padding: .75em;
			padding-right: 1.5em;
			border: 1px solid $lightGrey;

			span {
				display: none;
			}

			&:hover {

				span {
					display: inline;
					position: absolute;
					color: $lightGrey;
					right: 2%;
					top: 50%;
    				margin-top: -10px;

					&:hover {
						cursor: pointer;
						color: $darkGrey;
					}
				}
			}
		}

		.primary {
			font-weight: bold;
		}
	}

	.empty {
		background: none;;
		border: none;
	}
}