/******************************************************************
Site: SIS Modules

Stylesheet: Base Stylesheet

This stylesheet only holds mobile and global styles.
******************************************************************/

/*********************
Color Palette
*********************/

$offWhite: rgb(242,242,242);
$darkGrey: rgb(97,100,105);
$medGrey: rgb(143,144,148);
$lightGrey: rgb(205,208,213);
$hardYellow: rgb(255,204,0);
$softYellow: rgb(255,255,204);
$hardBlue: rgb(37,112,146);
$softBlue: rgb(140,173,188);
$lightBlue: rgb(235,237,244);