/******************************************************************
Site: SIS Modules

Stylesheet: Base Stylesheet

This stylesheet only holds mobile and global styles.
******************************************************************/

/*********************
Color Palette
*********************/

$offWhite: rgb(242,242,242);
$darkGrey: rgb(97,100,105);
$medGrey: rgb(143,144,148);
$lightGrey: rgb(205,208,213);
$hardYellow: rgb(255,204,0);
$softYellow: rgb(255,255,204);
$hardBlue: rgb(37,112,146);
$softBlue: rgb(140,173,188);
$lightBlue: rgb(235,237,244);
$green: rgb(88,163,77);
$red: rgb(210,68,49);

@mixin buttonColor($color) {
	background: $color;
	border: 1px solid darken($color, 15);
	border-top: 1px solid darken($color, 10);

	&:hover {
		background: darken($color, 10);
		border: 1px solid darken($color, 25);
		border-top: 1px solid darken($color, 20);
		transition: all .2s ease-out;
	}
}